
* {
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  text-align: left;
  font-weight: normal;
}

.row {
  margin: 20%;
  padding-bottom: 6%;
  padding-right: 6%;
  padding-left: 6%;
 
  background: cadetblue;
  
}

$theme-colors: ("primary": #daa938,
);
@import '~bootstrap/scss/bootstrap.scss';